
.bloc_left_price {
    color: #ff4081 ;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.bg-dark {
    background-color: #000000!important;
}
.category_block li:hover {
    background-color:rgb(29, 29, 29) ;
}
.category_block li:hover a {
    color: #ff4081;
}
.category_block li a {
    color: #ff4081;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid black;
    color: black;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ff4081;
}
.navbar-dark .navbar-brand {
    color: #ff4081;
}
.btn-secondary {
    color: #fff;
    background-color: black;
    border-color: #6c757d;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: black;
    padding: 40px;
    margin-top: 20px;
}
footer a {
    color: #f8f9fa!important
}
.bgc{
    background-image: url(image/Clothes+and+shoes-74_banner.jpg);
    /*background-image: url("https://envato-shoebox-0.imgix.net/a553/ba21-ce80-45ee-82d4-120907cdb414/Clothes+and+shoes-74_banner.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=a9cc1545e602fe3d3e6c9faed39f0a84");*/
}
.show_txt{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
a .active{
    color: rgb(32, 3, 3);
}
.card-header.bg-primary.text-white .text-uppercase {
    background-color: #ff4081 ;
}

.button5 {
    background-color: rgb(29, 29, 29);
    color: #ff4081;
    border: 2px solid black;
}
.button {
    background-color: #ffaebd; /* Màu của Quản trị mạng ^^ */
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #ffaebd;
}
.button1:hover {
    background-color: #ffaebd;
    color: black;
}
.button8 {
    background-color: #ffaebd;
    color: black;
    border: 2px solid #ffaebd;
}
.button8:hover {
    background-color: white;
    color: black;
    border: 2px solid #ffaebd;
}
.buttoncard {
    background-color: #ff4081;
    color: black;
    border: 2px solid #ff4081;
}
.buttoncard:hover {
    background-color: white;
    color: black;
    border: 2px solid #ff4081;
}
.button5 {
    background-color: rgb(20, 20, 20);
    color: #ff4081;
    border: 2px solid black;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #fdf4f6;
    border-radius: .3rem;
}
.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #fdf4f6;
    border-radius: .25rem;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item.active {
    color: #000000; 
}
.navbar-dark .navbar-toggler {
    color: #ff4081;
    border-color:#ff4081;
}